<div class="center jumbotron">
  <h1>Mastercard Scholar Management System</h1>


  <h2>
    Welcome to the Mastercard Scholar program management system
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>